body{
    margin: 0;
    padding: 0;
    min-width: 420px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.container {
  width: 50%;
}

form{
  text-align: center;
}